.bloques{
  display: block;
  height: 100px;
  margin-top: 30px;
  margin-left: 450px;
  width: 300px;
  font-size: 30px;
  text-align: center;
}
.bloque1 , .bloque3{
  background: #f7e522;
}

.bloque2 {
  background: #ef0758;
}
