.bloques{
  display: inline;
  padding: 5px;
  margin-left: 10px;
  font-size: 30px;
  text-align: center;
}
.bloque1 , .bloque3{
  background: #f7e522;
}

.bloque2 {
  background: #ef0758;
}

.contenedor {
  text-align: center;
  margin-top: 200px;
}
