.bloques{
  display: inline-block;
  padding: 5px;
  width: 300px;
  height: 100px;
  margin-left: 10px;
  font-size: 30px;
  text-align: center;
  background: #f7e522;
}

.bloque2 {
  background: #ef0758;
}

.contenedor {
  text-align: center;
  margin-top: 200px;
}
